// Specific CSS for your home-page
#home-alert {
  position: relative;
  text-align: center;
  background: #f6eaeb;
  border-radius: 5px;
  width: fit-content;
  padding: 15px;
  margin: 10px 0px 30px;
  font-size: 13px;
  color: #E91E63;
  border: solid #ffbec9 1px;
  box-shadow: 4px 4px 9px #a9a8a859;
  position: absolute;
  top: 475px;
}

#home-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  h2 {
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 40px;
    margin: 30px;
  }
  form {
    margin-bottom: 40px;
  }
  h3 {
    font-size: 17px;
    margin: 7px;
  }
}
