<div class="space-banner"></div>

<div id="home-banner" class="pink-banner">
  <h1>Happy Hour</h1>
  <h3>Because it's always happy hour somewhere in the world,</h3>
  <h3>we believe that it's always the right time for a cocktail</h3>
  <p id="home-alert">We are legally obliged to inform you that the risk of hangover the morning after consulting our website is verry high. Consult at your own risk !</p>
</div>
<div id="home-cards-container">
  <h2>Choose your poison</h2>
  <% @cocktails.each_slice(4)  do |cocktails| %>
    <div class="row">
    <% cocktails.each  do |cocktail| %>
      <div class="cocktail-card" style="background-image: linear-gradient(286deg,
      rgba(77,77,77,0.4472163865546218) 100%, rgba(77,77,77,0.4864320728291317) 100%),
      url('https://source.unsplash.com/z8-JBJDZJtw/3909×5863')">
        <%= link_to cocktail.name, cocktail_path(cocktail), class: 'cocktail-card-title' %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>

