.grey-btn {
  border: solid grey 1px;
  background: #d4d4d4;
  color: #565656;
  border-radius: 5px;
}

.search-btn {
  height: 37px;
}

.orange-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: solid orange 1px;
  color: orange;
  background: #ffa50021;
}
