.cocktail-card,
.card-form {
  border-radius: 5px;
  margin: 10px;
  box-shadow: 4px 4px 9px #ffc0cb59;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid orange  1px;
}

.info-card-photo {
  border: solid orange  1px;
  border-radius: 5px;
  box-shadow: 4px 4px 9px #ffc0cb59;
  display: flex;
  margin: 10px;
  flex-direction: column;
  width: 320px;
  height: 600px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.info-card-content {
  margin: 10px;
  border: solid orange  1px;
  border-radius: 5px;
  box-shadow: 4px 4px 9px #ffc0cb59;
  justify-content: center;
  align-items: center;
  background: #fff7e6;
  .header {
    height: 150px;
    width: 500px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    text-align: center;
    h1 {
      color: white;
      font-size: 60px;
      font-family: 'Lobster', cursive;
    }
  }
  .body {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .ingredients {
      flex-grow: 1;
      text-align: center;
      h2 {
        font-family: 'Lobster', cursive;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
      }
    }
    .orange-btn {
      width: 460px;
      text-align: center;
    }
  }
}

.cocktail-card {
  height: 300px;
  width: 300px;
  text-decoration: overline underline;
  .cocktail-card-title {
    color: white;
    font-size: 30px;
    font-family: 'Lobster', cursive;
  }
  &:hover {
    border: solid white 5px;
    text-decoration: none;
  }
}

.card-form {
  width: 900px;
  height: 710px;
  background: white;
  margin-bottom: 5px;
  form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.inline-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
