.form-header {
  height: 200px;
  width: 900px;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  form {
    height: 38px;
  }
}

.form-footer {
  text-align: center;
  margin: 10px;
}

.form-submit-btn {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.form-element-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 150px;
  text-align: center;
  .select2 {
    width: 600px;
  }
}

.form-edit-element-container {
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
  text-align: center;
  width: 500px;
  text-align: center;
  .select2 {
    width: 480px;
  }
}

.form-edit-header {
  height: 150px;
  width: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  form {
    height: 38px;
  }
}

.form-edit-footer {
  text-align: center;
  margin: 10px;
  .form-submit-btn {
    width: 100%;
  }
}

.form-edit-ingredient {
  height: 600px;
  width: 300px;
}

#form-photo-submit {
  text-align: center;
  margin: auto;
}

